<div class="container-checkout">
  <h3 class="table-name">Checkout</h3>
  <table class="table table-light table-borderless">
    <thead class='thead-dark'>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Item Total</th>
      </tr>
    </thead>
    <tbody>
      {{#each purchased}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.amount}} Grams </td>
        <td>${{this.price}}</td>
        <td>${{this.total}}</td>

      </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="total">
    <p><b>Total: ${{total}} </b></p>
  </div>
  <label for="emailAddress"><b>Email</b></label>
  <input id="emailAddress" type="email" placeholder="user@example.gov" list="defaultEmails" size="64" maxlength="256"
    multiple>
  <button type="button" class="btn btn-primary checkout-btn">Proceed</button>

</div>