
 {{#each strain_card}}
<div class="card strain-card" style="width: 18rem;">
  <img src="https://www.laweekly.com/wp-content/uploads/2019/05/thc_design_s_cali-dad_og_is_sativa-dominant_and_tested_at_22-759x500.jpg" class="card-img-top product-img" alt="...">
 
  <div class="card-body">
      
        <ul>
          <li>Name: {{this.name}}</td>
           <li>Type: {{this.type}}</td>
           <li>Mood: {{this.mood}}</td>
           <li>Price: ${{this.price}} Per Gram</td>
           <li> {{description}} </li>

        </ul>
        
    
  </div>
</div>
{{/each}}
